@import url(https://fonts.googleapis.com/css?family=Lato);
body,
html {
  
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
/*手机端头部*/
/*.header2{
	width: 100%;
	height: 70px;
	position: fixed;
	background: #11619c;
	z-index: 999;
}*/
/*手机端底部*/
.ovhidden{
	overflow: hidden;
	height: 100%;
}
/*
.footer2{
	position:fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: #FFFFFF;
	box-shadow: 0 0 1px 1px #999999;
}
.footer2>ul>li{
	float: left;
	width: 20%;
	text-align: center;
}
.footer2>ul>li span{
	font-size: 15px;
	color: #666;
	line-height: 40px;
	
}
.LoginBox{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #FFFFFF;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
#login,#register{
	position: relative;
	padding-top: 50px;
	
}

.tishi,.tishi2{
	top: 10px;
	left: 10px;
	color: firebrick;
	position: absolute;
}
.userBox,.passwordBox,.phoneBox,.userBox1,.passwordBox1{
	width: 80%;
	height: 30px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 40px;
}
.userBox,.userBox1{
	margin-bottom: 40px;
}
.userBox input,.passwordBox input,.phoneBox input,.userBox1 input,.passwordBox1 input{
	width: 100%;
	height: 100%;
	padding-left: 25px;
}
.userBox i,.userBox1 i{
	width: 24px;
	height: 100%;
	background: url(../img/login.png) no-repeat 0 32%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.userBox i:focus{
	background: url(../img/login.png) no-repeat 0 88%;
}
.passwordBox i,.passwordBox1 i{
	width: 24px;
	height: 100%;
	background: url(../img/login.png) no-repeat 0 69%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.passwordBox i:focus{
	background: url(../img/login.png) no-repeat 0 50%;
}
.phoneBox{
	margin-bottom: 40px;
}
.phoneBox i{
	width: 24px;
	height: 100%;
	background: url(../img/login.png) no-repeat 0 -3%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.passwordBox,.passwordBox1{
	margin-bottom: 40px;
}
#denglu,#zhuce{
	width: 80%;
	height: 30px;
	background-color: #5BC0DE;
	margin: 0 auto;
	border: none;
	outline: none;
	border-radius: 5px;
	display: block;
}
.erweima{
	width: 40%;
	height: 40%;
	border: 1px solid #000000;
}
.Bd{
	width: 30%;
	height: auto;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}
.back{
	font-size: 20px;
	color: #000000;
	float: right;
	line-height: 44px;
	padding-right: 10px;
}*/
/*手机端底部结束*/
.nav{
	width: 100%;
	height: auto;
  position: relative;
  width: auto;
  display: inline-block;
  border: none;
}
.phoneHead{
	width: 60%;
	float: right;
	margin: 15px;
}
.btn-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  padding: 10px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
  z-index: 99999;
}

.btn-nav:focus {
  outline: 0;
}

.icon-bar {
  display: block;
  margin: 6px 0;
  width: 40px;
  height: 5px;
  background-color: #FFFFFF;
}

.btn-nav:hover .icon-bar {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background-color: #FCA311;
}

.nav-content {
  position: fixed;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  height: 100%;
  z-index: 9;
}

.nav-list {
  list-style: none;
  padding: 0;
  position: relative;
  top: 30%;
}

.item-anchor:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  left: 0;
  bottom: 0;
  z-index: 9;
  background: transparent;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.item-anchor {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  padding: 10px;
}

.item-anchor:hover,
.item-anchor:focus {
  color: #FCA311;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.item-anchor:hover:after,
.item-anchor:focus:after{
  width: 100%;
  background: #FCA311;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-item {
  margin: 0 auto;
  text-align: center;
}

.animated {
  display: block;
  margin: 0 auto;
}

.animated:hover .icon-bar,
.animated:focus .icon-bar{
  background-color: #FCA311;
}

.animated:focus {
  cursor: pointer;
  z-index: 9999;
}

.middle {
  margin: 0 auto;
}

.icon-bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  z-index: 999999;
}

.animated .icon-bar {
  z-index: 999999;
  background-color: #FCA311;
}

.animated .top {
  -webkit-transform: translateY(10px) rotateZ(45deg);
  -moz-transform: translateY(10px) rotateZ(45deg);
  -ms-transform: translateY(10px) rotateZ(45deg);
  -o-transform: translateY(10px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
}

.animated .bottom {
  -webkit-transform: translateY(-11px) rotateZ(-45deg);
  -moz-transform: translateY(-11px) rotateZ(-45deg);
  -ms-transform: translateY(-11px) rotateZ(-45deg);
  -o-transform: translateY(-11px) rotateZ(-45deg);
  transform: translateY(-11px) rotateZ(-45deg);
}

.animated .middle {
  width: 0;
}

@keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-moz-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-o-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.showNav {
  -webkit-animation: showNav 1s ease forwards;
  -moz-animation: showNav 1s ease forwards;
  -o-animation: showNav 1s ease forwards;
  animation: showNav 1s ease forwards;
}

@keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-webkit-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-moz-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-o-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards;
  -moz-animation: hideNav 1s ease forwards;
  -o-animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}

.hidden {
  display: none;
}